1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

* =expression

& =expression 

-87.8=values

hello= values

- = expression

/ =expression

+ =expression

6 =values

2. What is the difference between string and variable?
 
    string is a  sequenced characters and is written inside single quotes, double quotes or triple quotes.
    variable is used to hold value OR  for storing data values ETC.

3. Describe three different data types.

   
"Hello World"	str=
 20	            int=
 20.5	        float
  6+5j           complex


4. What is an expression made up of? What do all expressions do?

5. This assignment statements, like spam = 10. What is the difference between an
Zxpression and a statement?

In [8]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

23

In [15]:
7. What should the values of the following two terms be?
a=  'spam'*3

In [16]:
a

'spamspamspam'

In [17]:
b='spam'+'spamspam'

In [18]:
b

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
     
     Variable names cannot begin with a number.

9.  What three functions can be used to get the integer, floating-point number, or string version of a value?

   int(), float(), and str()

10. Why does this expression cause an error? How can you fix it?
     
    'i have eaten'+99+'burritos'
     
     
     Because 99 is an integer and only strings can be concatenated to other strings.
     
    'I have eaten ' + str(99) + ' burritos.'

In [21]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'